/*--------------------------------------------------------------
>>> TABLE OF CONTENTS Utilities CSS Documentation:
----------------------------------------------------------------
1.0 Clearing
2.0 Centering Layout
3.0 Component
4.0 Margin
--------------------------------------------------------------*/

// 1.0 Clearing
.clearfix:after,
.clearfix:before,
.row:after,
.row:before {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after,
.row:after {
  clear: both;
}

// 2.0 Centering 

.centerElement {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.text-center {
  text-align: center;
}

.display-table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.display-center {
  display: table-cell;
  vertical-align: middle;
  // text-align: center;
  width: 100%;
  height: 100%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: center;
}

.container__full {
  height: 100%;
}

.round {
  &-1 {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  &-2 {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
  }
}

// 3.0 Component
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px 40px;
  border-radius: 30px;
  @include transition(0.5s);

  &__primary {
    background: $green;
    color: $white;
    box-shadow: 0px 0px 5px 2px rgba(20, 141, 59, 0.5);
    @include base_position_y(0);

    &:hover {
      box-shadow: 0px 0px 20px 2px rgba(20, 141, 59, 0.5);
      // @include base_position_y(-5px);
    }
  }

  &__outline {
    background: $white;
    color: $green !important;
  }
}

a {
  @include base_transition(all);
}

// 3.1 Scroll Down
#scrollMouse {
  bottom: 30px;
  position: absolute;
  left: 0;
  z-index: 2;
  right: 0;
  margin: auto;
  text-align: center;
  width: 25px;
}

@media (max-width: 768px) {
  #scrollMouse {
    bottom: 10px;
  }
}

#scrollMouse .wheel {
  height: 9px;
  width: 1px;
  display: block;
  margin: 5px auto;
  background: $green;
  position: relative;
}

#scrollMouse .wheel {
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
}

#scrollMouse span {
  display: block;
  width: 10px;
  height: 10px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 1px solid $green;
  border-bottom: 1px solid $green;
  margin: 0px auto;
}

#scrollMouse .unu {
  margin-top: 3px;
}

#scrollMouse .unu,
#scrollMouse .doi,
#scrollMouse .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

#scrollMouse .unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

#scrollMouse .doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

#scrollMouse .trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}

#scrollMouse .mouse {
  height: 40px;
  width: 25px;
  border-radius: 15px;
  -webkit-transform: none;
  transform: none;
  border: 1.5px solid $green;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }

  50% {
    top: 5px;
  }

  100% {
    top: 10px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

// 4.0 Margin

.mt1 {
  margin-top: 10px
}

;

.mt2 {
  margin-top: 20px
}

;

.mt3 {
  margin-top: 30px
}

;

// 5.0 Back To Top
.backtop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: $green;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 10px 10px #cccccc;
  height: 45px;
  width: 45px;
  @include transition(0.4s);
  display: none;
  z-index: 99;

  &:hover {
    cursor: pointer;
    background: $green;
  }

  @include max-responsive($sm) {
    bottom: 20px;
    right: 20px;
  }
}

// 5.0 Hamburger Menu
/* Icon 1 */

#nav-icon1 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  transform: scale(0.5);
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: $green;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  z-index: 100;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
  width: 60%;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

// 6. Component Style Page
.title-main {
  position: relative;

  h1 {
    text-align: center;
    font-size: 3em;
    margin: 20px auto;

    @include max-responsive($sm) {
      font-size: 2em;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 3px;
    width: 70px;
    background: #148D3B;

    @include max-responsive($sm) {
      bottom: -10px;
    }
  }
}

//TAB
.tab {
  background: $white;
  border: 1px solid #ccc;
  padding: 5px 12px;
  border-radius: 20px;
  display: inline-flex;
  margin-right: 10px;
  cursor: pointer;
  white-space: nowrap;
  transition: all .3s ease-in-out;

  &:hover {
    background: $lightgreen;
    border: 1px solid $green;
  }

  &.active {
    background: $green;
    color: $white;
    border: 1px solid $green;
  }

  &-wrapper {
    display: flex;
    margin: 20px auto;

    @include max-responsive($sm) {
      overflow-x: scroll;
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    
    @include min-responsive($sm){
      margin-left: -8px;
      margin-right: -8px;
    }

    &__item {
      width: calc(100%/4);
      padding: 8px;
      display: flex;

      @include max-responsive($sm) {
        padding: 4px;
        width: calc(100%/1);
      }
    }
  }
}

//CARD
.card {
  background: #ffffff;
  box-shadow: 0 0 24px -4px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;

  &__name {
    padding: 10px;
    flex: 1 0 auto;

    &--title {
      font-size: 1.5em;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 10px;
    }

    &--desc {
      line-height: normal;
      color: #848484;
      flex: 1 0 auto;
    }
  }

  &__foot{
    padding: 10px;
  }
}

//LABEL
.label {
  height: 16px;
  padding: 0 8px;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  line-height: 0;
  letter-spacing: 0.8px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 16px;
  background-color: #f1f1f1;
  white-space: nowrap;
  text-transform: capitalize;

  &--info{
    background-color: #0eb3ff;
  }
  &--success{
    background-color: #9bce59;
  }
  &--warning{
    background-color: #f8a33f;;
  }
  &--danger{
    background-color: #f25b61;;
  }
  &--default{
    background-color: #54bfba;;
  }
}